*{
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    font-family: 'Barlow';
    box-sizing: border-box;
}

input,
button{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}