* {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  font-family: "Barlow";
  box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Regular.ttf");
}
body {
  padding: 10px;
  color: #ffffff;
  background: gray;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
}

p {
  color: #ABBBC2;
  font-weight: thin;
  font-size: 16px;
  line-height: 140%;
}

.app {
  display: flex;
  width: 1194px;
  height: 834px;
  border-radius: 16px;
  background: #252836;
}

.sidebar {
  width: 104px;
  height: 100%;
  display: flex;
  padding: 24px 0;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  background: #1F1D2B;
  justify-content: space-between;
}
.sidebar svg {
  transform: translateY(1.5px);
}
.sidebar button {
  width: 56px;
  height: 56px;
  border-radius: 8px;
}
.sidebar > li:first-child button {
  background: #ea7c6952;
}
.sidebar .menuButtons {
  gap: 22px;
  display: flex;
  position: relative;
  padding-bottom: 32px;
  flex-direction: column;
}
.sidebar .menuButtons path {
  fill: #EA7C69;
}
.sidebar .menuButtons li {
  cursor: pointer;
  position: relative;
  padding: 13px 12px 11px 12px;
}
.sidebar .menuButtons li.active {
  background: #252836;
  border-radius: 12px 0 0 12px;
}
.sidebar .menuButtons li.active button {
  background: #EA7C69;
  box-shadow: -8px 8px 24px #ea7c6952;
}
.sidebar .menuButtons li.active button path {
  fill: #fff;
}
.sidebar .menuButtons li.active span {
  top: -12px;
  right: -12px;
  width: 12px;
  height: 104px;
  position: absolute;
  background: #252836;
}
.sidebar .menuButtons li.active::after, .sidebar .menuButtons li.active::before {
  z-index: 1;
  content: "";
  width: 12px;
  height: 12px;
  right: -12px;
  position: absolute;
  background: #1F1D2B;
}
.sidebar .menuButtons li.active::before {
  top: -12px;
  border-radius: 0 0 12px 0;
}
.sidebar .menuButtons li.active::after {
  bottom: -12px;
  border-radius: 0 12px 0 0;
}

.menu {
  width: 681px;
  padding: 24px;
}
.menu .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .header .text h1 {
  margin: 0.2px 0 2.7px 0;
  letter-spacing: 0.25px;
}
.menu .header form {
  width: 220px;
  padding: 0 13px;
  height: 48px;
  font-size: 14px;
  line-height: 140%;
  border-radius: 8px;
  border: 1px solid #393C49;
  background: #2D303E;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .header form input {
  width: 164px;
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
  font-size: 14px;
}
